akshare
backtrader
chainlit
chromadb
eodhd
fastapi
feedparser
finnhub-python
langchain-anthropic
langchain-experimental
langchain-google-genai
langchain-openai
langgraph
pandas
parsel
praw
pytz
questionary
redis
requests
rich
setuptools
sse-starlette
stockstats
tqdm
tushare
uvicorn
yfinance